:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --dark-color: #0b1121;
    --blue-color: #0285c7;
    --blue-color2: #39bef7;
    --heading-color: #e1e8f0;
    --p-color: #93a2b8;
    --border-color: #93a2b828;
    --background-color: #0f1729;
    --poppins-font: "Poppins", sans-serif;
    --transition: all ease .4s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: var(--poppins-font);
}

/* Custom class */
.container {
    width: 1300px;
    margin: 0 auto;
}





/* Start Header Element */
header {
    color: var(--p-color);
    background: radial-gradient(circle at center, #1a2a44 0%, #0b0f19 100%);
    min-height: 100vh;
    margin: 0;
}

.navbar {
    background-color: rgba(11, 17, 32, .8);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-bottom: 1px solid var(--border-color);
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Navbar container */
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navbar logo */
.nav-logo a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: .7rem;
    color: var(--white-color);
    font-weight: 600;
    line-height: .9rem;
}

.nav-logo a img {
    width: 40px;
    border: 1px solid var(--blue-color);
    border-radius: 50px;
    padding: 5px;
}

/* Navbar link */
.nav-links ul {
    display: flex;
    gap: 10px;
}

.nav-links ul li .nav-btn {
    font-size: .8rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: #93a2b800;
    border-radius: 5px;
    padding: 8px 12px;
    transition: var(--transition);
}

.nav-links ul li .nav-btn:hover {
    background-color: #93a2b828;
}

/* Log in button */
.nav-links ul li .login-btn {
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 6px 12px;
    border-radius: 50px;
    font-size: .8rem;
    font-weight: 600;
    transition: var(--transition);
}

.nav-links ul li .login-btn:hover {
    background-color: var(--blue-color2);
}

/* Display on mobile or tab size */
.nav-links ul .mobile-menu {
    display: none;
}

.nav-links ul .mobile-menu li a {
    color: var(--white-color);
    font-size: 1.2rem;
    transition: var(--transition);
}

.nav-links ul .mobile-menu li a:hover {
    color: var(--blue-color2);
}

/* Header content */
.header-content {
    text-align: center;
    padding-top: 350px;
}

.header-content h1 {
    font-size: 72px;
    color: var(--heading-color);
    font-weight: 600;
}

.header-content p {
    font-size: 17px;
    margin: 30px auto 60px;
    font-weight: 500;
    width: 50%;
}

.header-content .exp-btn {
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 18px 80px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: var(--transition);
}

.header-content .exp-btn:hover {
    background-color: var(--blue-color2);
}

/* End Header Element */





/* Start Main Element */
section h1 {
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--heading-color);
}

section p {
    font-size: 18px;
    color: var(--p-color);
}

section .colorful {
    color: var(--blue-color2);
}

/* Tutorials section */
.tutorials-section {
    background-color: var(--background-color);
    border-top: 1px solid var(--border-color);
}

.tutorials-container {
    display: flex;
    align-items: center;
    padding: 80px 0;
}

/* Tutorials content */
.tutorials-content {
    width: 37%;
}

.tutorials-content p {
    width: 86%;
    margin-top: 15px;
}

.tutorials-content img {
    width: 120px;
}

/* Tutorials box's */
.tutorials-box {
    width: 63%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.tutorials-box .box {
    background-color: var(--dark-color);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 30px;
    transition: var(--transition);
}

.tutorials-box .box:hover {
    transform: scale(1.05);
}

/* Box's images */
.tutorials-box .box img {
    width: 50px;
    padding: 10px;
    border-radius: 50px;
}

.tutorials-box .box .js-img {
    background-color: #facc14;
}

.tutorials-box .box .dom-img {
    background-color: #fa7516;
}

.tutorials-box .box .react-img {
    background-color: #39bef7;
}

.tutorials-box .box .node-img {
    background-color: #324154;
}

.tutorials-box .box .tailwind-img {
    background-color: #f7fafc;
}

.tutorials-box .box h4 {
    color: var(--heading-color);
    font-weight: 600;
    font-size: .95rem;
}

.tutorials-box .box p {
    margin: 10px 0 20px;
    font-size: .8rem;
}

.tutorials-box .box a {
    color: var(--blue-color2);
    border: 1px solid var(--blue-color2);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: .8rem;
    font-weight: 600;
    transition: var(--transition);
}

.tutorials-box .box a:hover {
    background-color: var(--blue-color2);
    color: var(--white-color);
}

.tutorials-box .box a i {
    margin-right: 3px;
}

/* Community section */
.community-section {
    background: linear-gradient(to left, #0b1121, #0f1729);
}

.community-container {
    padding: 80px 0;
}

/* Heading part of community section */
.community-container .heading {
    text-align: center;
}

.community-container .heading img {
    width: 80px;
}

.community-container .heading p {
    font-weight: 500;
}

/* devConf 1.0 */
.dev-card {
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 3%;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 20px;
    border: 1px solid var(--border-color);
    padding: 30px;
    margin-top: 60px;
    transition: var(--transition);
}

.dev-card:hover {
    transform: scale(1.04);
}

/* Content */
.content {
    width: 45%;
}

.content img {
    width: 22rem;
}

.content p {
    margin: 25px 0 35px;
}

.btn {
    color: var(--blue-color2);
    border: 1px solid var(--blue-color2);
    border-radius: 50px;
    padding: 8px 16px;
    font-size: .8rem;
    font-weight: 600;
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--blue-color2);
    color: var(--white-color);
}

.content a i {
    margin-right: 5px;
}

/* iFrame */
.iframe-content {
    width: 52%;
    height: 350px;
}

.iframe-content iframe {
    width: 100%;
    height: 100%;
    border: 2px solid var(--blue-color2);
    border-radius: 10px;
    transition: var(--transition);
}

.iframe-content iframe:hover {
    box-shadow: 0 0 50px var(--blue-color2);
}

/* Small cards in community section */
.small-cards {
    margin: 60px auto;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.cards {
    background-color: var(--background-color);
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 35px;
    transition: var(--transition);
}

.cards:hover {
    transform: scale(1.05);
}

.cards img {
    width: 100%;
}

.cards h4 {
    color: var(--heading-color);
    font-size: 1.1rem;
    font-weight: 600;
    margin: 15px 0;
}

.cards p {
    font-size: 1rem;
    width: 90%;
    margin: 0 auto 30px;
}

/* Courses section */
.courses-section {
    background-color: var(--background-color);
    padding-bottom: 100px;
}

/* Heading container of courses section */
.crs-heading {
    text-align: center;
    padding: 80px 0 50px;
}

.crs-heading img {
    width: 110px;
}

/* Courses cards */
.courses-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

/* Cards */
.c-card {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 40px;
    transition: var(--transition);
}

.c-card:hover {
    transform: scale(1.05);
}

.c-card img {
    width: 100%;
}

.c-card h4 {
    color: var(--blue-color2);
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 0;
}

.c-card p {
    font-size: 1rem;
    margin-bottom: 30px;
}

/* End Main Element */





/* Start Footer Element */
footer {
    background: linear-gradient(to left, #0b1221, #0f1729);
    color: var(--p-color) !important;
    border-top: 1px solid var(--border-color);
    padding: 80px 0 40px;
}

/* Top section */
.top-section {
    border-bottom: 1px solid var(--border-color);
}

/* Logo with web link */
.footer-logo a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.7rem;
    color: var(--white-color);
    font-weight: 600;
    line-height: 0.9rem;
}

.footer-logo a img {
    width: 40px;
    border: 1px solid var(--blue-color);
    border-radius: 50px;
    padding: 5px;
}

.logo-web p {
    margin-top: 10px;
    font-size: .8rem;
    font-weight: 400;
    margin-left: 2px;
}

.logo-web p a {
    color: var(--p-color);
    transition: var(--transition);
}

.logo-web p a:hover {
    color: var(--blue-color2);
}

/* Footer links */
.footer-links {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 20px;
}

.footer-links .n-link {
    display: flex;
    gap: 20px;
}

.footer-links .n-link a {
    color: var(--p-color);
    font-size: .85rem;
    transition: var(--transition);
}

.footer-links .n-link a:hover {
    color: var(--blue-color2);
}

.footer-links .s-link {
    display: flex;
    gap: 15px;
}

.footer-links .s-link a {
    color: var(--blue-color);
    font-size: 1.1rem;
    transition: var(--transition);
}

.footer-links .s-link a:hover {
    color: var(--blue-color2);
}

.footer-links .s-link a i {
    transition: var(--transition);
}

.footer-links .s-link a i:hover {
    transform: scale(1.1);
}

/* Center section */
.payment-section {
    margin: 15px auto;
}

.payment-section img {
    width: 100%;
}

/* Bottom section */
.bottom-section {
    display: flex;
    justify-content: space-between;
}

.bottom-section .copyright p {
    font-size: .8rem;
}

.bottom-section .f-b-links {
    display: flex;
    gap: 20px;
}

.bottom-section .f-b-links a {
    font-size: .8rem;
    color: var(--p-color);
    transition: var(--transition);
}

.bottom-section .f-b-links a:hover {
    color: var(--blue-color2);
}

/* End Footer Element */





/* Responsive design */
/* Responsive for laptop size */
@media screen and (max-width: 1400px) {
    .container {
        width: 92%;
    }
}

/* Responsive for tab size */
@media screen and (max-width: 1024px) {
    .container {
        width: 75%;
    }

    /* Navbar section */
    .nav-links ul li .nav-btn {
        display: none;
    }

    .nav-links ul li .login-btn {
        display: none;
    }

    .nav-links ul .mobile-menu {
        display: inline;
    }

    /* Header content */
    .header-content h1 {
        font-size: 60px;
    }

    .header-content p {
        width: 90%;
    }

    /* Main element content */
    section h1 {
        font-size: 2.1rem;
    }

    section p {
        font-size: 16px;
    }

    /* Tutorials section */
    .tutorials-container {
        flex-direction: column;
        align-items: start;
    }

    .tutorials-content {
        width: 100%;
    }

    .tutorials-content p {
        width: 100%;
    }

    .tutorials-box {
        width: 100%;
        grid-template-columns: 1fr;
        margin-top: 40px;
    }

    /* Community section */
    .dev-card {
        flex-direction: column;
    }

    .content {
        width: 100%;
        text-align: center;
    }

    .iframe-content {
        width: 100%;
        margin-top: 40px;
    }

    .small-cards {
        grid-template-columns: 1fr;
    }

    .cards img {
        width: 70%;
    }

    /* Courses section */
    .courses-cards {
        grid-template-columns: 1fr;
    }

    /* Footer elements */
    footer {
        padding: 60px 0 20px;
    }

    /* Top section */
    .top-section {
        border-bottom: none;
    }

    .footer-logo a {
        justify-content: center;
    }

    .logo-web p {
        text-align: center;
    }

    .footer-links {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    /* Bottom section */
    .bottom-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .bottom-section .f-b-links {
        gap: 12px;
    }
}

/* Responsive for small tab size */
@media screen and (max-width: 768px) {
    .container {
        width: 85%;
    }

    .dev-card {
        width: 100%;
    }

    .small-cards {
        width: 100%;
    }
}

/* Responsive for mobile size */
@media screen and (max-width: 500px) {
    .container {
        width: 90%;
    }

    /* Header element content */
    .header-content {
        padding-top: 250px;
        text-align: left;
    }

    .header-content h1 {
        font-size: 60px;
        line-height: 4rem;
    }

    .header-content p {
        font-size: 16px;
        margin: 30px 0 60px;
        width: 85%;
    }

    .header-content .exp-btn {
        padding: 10px 40px;
        font-size: 1rem;
    }

    /* Main element content */
    section h1 {
        font-size: 2rem;
    }

    section p {
        font-size: 16px;
    }

    .iframe-content {
        height: 250px;
    }

    .cards img {
        width: 100%;
    }

    /* Footer element content */
    .footer-links .n-link {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .footer-links .n-link a {
        font-size: .8rem;
    }

    .bottom-section .f-b-links {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bottom-section .f-b-links a {
        font-size: .8rem;
    }

    .bottom-section .copyright p {
        font-size: .8rem;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
}